spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/transport
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non-contextual-creation: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  application:
    name: transport-service
management:
  endpoints:
    web:
      exposure:
        include: health, info
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    enabled: true
    path: /api/v1/transport/v3/api-docs
  swagger-ui:
    enabled: true
    path: /api/v1/transport/swagger-ui.html

server:
  port: 8082