spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/auth/**, /api/v1/users/**
        - id: transport-service
          uri: lb://TRANSPORT-SERVICE
          predicates:
            - Path=/api/v1/transport/**,/api/v1/transport-types/**

springdoc:
  swagger-ui:
    enabled: true
    url: /swagger-ui.html
    config-url: /v3/api-docs/swagger-config
    urls:
      - name: gateway-service
        url: /v3/api-docs
      - name: user-service
        url: /api/v1/auth/v3/api-docs
      - name: transport-service
        url: /api/v1/transport/v3/api-docs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health, info, gateway, routes
  endpoint:
    gateway:
      access: unrestricted
